@import url(https://fonts.googleapis.com/css?family=Roboto+Mono|Source+Code+Pro);

body, html{
    width: 100%;
    height: 100%;
    margin: 0px;
}

#email{
    text-decoration: none;
    color: white;
}

#header-name{
    height: 90px;
    width: 100%;
    background-color: black;
}

#header-name h1{
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 15px;
    font-size: 64px;
    color: white;
    float: left;
    font-family: 'Roboto Mono' ;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#contact{
    float: right;
    font-size: 14px;
    color: white;
    font-family: 'Roboto Mono';
    padding-top: 0px;
    margin-top: 0px;
    margin-right: 15px;
}

#header-bar{
    margin-top: 20px;
    height: 20px;
    width: 100%;
    background-color: black
}

.title-container{
    margin-left: 15px;
    margin-right: 15px;
}

.titles{
    margin-top: 20px;
    border-bottom:1px solid black;
    font-family: 'Roboto Mono';
    margin-left: 10px;
}

#work{
    font-family: 'Source Code Pro';
}

#work h1{
    font-size: 18px;
}

.left{
    clear: left;
    float: left;
    margin-left: 32px;
}

.right{
    clear: right;
    float: right;
    margin-right: 20px;
}

#school{
    text-transform: uppercase;
    font-weight: bold;
}

.text{
    font-family: 'Roboto Mono';
    font-size: 18px;
}

.experience-text{
    clear: left;
    margin-right: 400px;
    font-family: 'Roboto Mono';
    margin-left: 40px;
    font-size: 16px;
}

#skills-list{
    margin-top : 0;
}

#skills-list li{
    list-style-type: none;
}

.skill{
    font-size: 16px;
    padding-bottom: 10px;
    font-family: 'Roboto Mono';
    display: inline-block;
}

.skill-title{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Source Code Pro';
}

#skoo{
    margin-left:20px;
}

#text-new{
    font-family: 'Source Code Pro';
    font-size: 18px;
    margin-left: 20px;

}

